{% extends 'paginate.html' %}

{% block content %}
    <div>
        <a href="{% url 'meal_plan_new' %}">create</a>
    </div>
    <main class="recipes-grid">
        {% for mealplan in meal_plan_list %}
        <div class="recipes-card">
            <h2 class="recipe-card-title">
                <a href="{% url 'meal_plan_detail' mealplan.id %}">{{mealplan.name}}</a>
                </h2>
                {% for recipe inmealplan.recipe.all %}
                    <p>
                        <a herf="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
                    </p>
                {% endfor %}
        </div>
        {% empty %}
        <div>
            <h1>No meals planned yet.</h1>
            <p> Wanna create one?
                <a href="{% url 'meal_plan_new' %}">add</a>
                a new one ?
            </p>
        </div>
        {% endfor %}

    </main>
{% endblock content %}